<div id="view_container">
    <div class="im_container" *ngFor="let im of state.images$ | async">
        <div class="im_overlay_position">
            <div class="im_overlay_container">
                <div class="im_overlay">
                    <div class="im_overlay_footer">
                        <div class="icon_container" [routerLink]="['/annotate', im.pk]">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                                <path
                                    d="M9 39h2.2l22.15-22.15-2.2-2.2L9 36.8Zm30.7-24.3-6.4-6.4 2.1-2.1q.85-.85 2.1-.85t2.1.85l2.2 2.2q.85.85.85 2.1t-.85 2.1Zm-2.1 2.1L12.4 42H6v-6.4l25.2-25.2Zm-5.35-1.05-1.1-1.1 2.2 2.2Z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img class="im" [src]='im.rgb'>
    </div>
</div>