<div>
    <div id="tool_section_header">
        Annotation
    </div>
    <div id="tools">
        Tool:
        <div>
            <div *ngFor="let toolType of toolTypes" (click)="setToolType(toolType.type)"
                [class.selected]="toolType.type === (state.annotation.tool$ | async)!.type">
                <div class="icon_container" *ngIf="toolType.type === toolTypesEnum.BRUSH">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                        <path
                            d="M28 42q-.6 0-1.05-.45-.45-.45-.45-1.05 0-.65.45-1.075Q27.4 39 28 39q2.95 0 4.975-1.2Q35 36.6 35 35q0-1.15-1.475-2.25t-3.975-1.7l2.35-2.35q3.15.95 4.625 2.625T38 35q0 3.35-3.05 5.175Q31.9 42 28 42ZM12 27.3q-3.2-.7-4.6-2.2Q6 23.6 6 22q0-1.75 1.3-3.15t6-3.1q3.3-1.2 4.25-1.95.95-.75.95-1.75 0-1.25-1.1-2.15Q16.3 9 14 9q-1.35 0-2.3.35-.95.35-1.7 1.1-.4.4-1.025.475Q8.35 11 7.85 10.6q-.55-.4-.575-1-.025-.6.375-1.05.85-1.1 2.55-1.825Q11.9 6 14 6q3.4 0 5.45 1.625Q21.5 9.25 21.5 12.05q0 2.05-1.425 3.475Q18.65 16.95 14.5 18.5q-3.35 1.25-4.425 1.975Q9 21.2 9 22q0 .8 1.35 1.525 1.35.725 4.05 1.375Zm24.8-7.7-6.4-6.4 2.25-2.25q.9-.9 2-.9t2 .9l2.4 2.4q.9.9.9 2t-.9 2ZM11 39h2.1l17.25-17.25-2.1-2.1L11 36.9Zm-3 3v-6.4l20.25-20.25 6.4 6.4L14.4 42Zm20.25-22.35 2.1 2.1Z" />
                    </svg>
                </div>
                <div class="icon_container" *ngIf="toolType.type === toolTypesEnum.FILL">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                        <path
                            d="M31 44v-4.75L15.5 31.5H6v-11h8.75l6.25-7V4h11v11h-8.3L17 22.5v6.45l14 6.95V33h11v11Zm-7-32h5V7h-5ZM9 28.5h5v-5H9ZM34 41h5v-5h-5ZM26.5 9.5ZM11.5 26Zm25 12.5Z" />
                    </svg>
                </div>
                <!-- <img [src]="toolType.icon" width="24px"> -->
            </div>
        </div>

    </div>
    <div id="tool_modes">
        Mode:
        <div>
            <div *ngFor="let toolMode of toolModes" (click)="setToolMode(toolMode.type)"
                [class.selected]="toolMode.type === (state.annotation.tool$ | async)!.mode">
                <div class="icon_container" *ngIf="toolMode.type === toolModesEnum.ADD">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                        <path
                            d="M22.65 34h3v-8.3H34v-3h-8.35V14h-3v8.7H14v3h8.65ZM24 44q-4.1 0-7.75-1.575-3.65-1.575-6.375-4.3-2.725-2.725-4.3-6.375Q4 28.1 4 23.95q0-4.1 1.575-7.75 1.575-3.65 4.3-6.35 2.725-2.7 6.375-4.275Q19.9 4 24.05 4q4.1 0 7.75 1.575 3.65 1.575 6.35 4.275 2.7 2.7 4.275 6.35Q44 19.85 44 24q0 4.1-1.575 7.75-1.575 3.65-4.275 6.375t-6.35 4.3Q28.15 44 24 44Zm.05-3q7.05 0 12-4.975T41 23.95q0-7.05-4.95-12T24 7q-7.05 0-12.025 4.95Q7 16.9 7 24q0 7.05 4.975 12.025Q16.95 41 24.05 41ZM24 24Z" />
                    </svg>
                </div>
                <div class="icon_container" *ngIf="toolMode.type === toolModesEnum.SUBTRACT">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                        <path d="M10 25.5v-3h28v3Z" />
                    </svg>
                </div>
                <!-- <img [src]="toolMode.icon" width="24px"> -->
            </div>
        </div>

    </div>
    <div class="tool_item">
        <div class="tool_label">
            Mask Opacity
        </div>
        <div class="tool_control custom-slider">
            <ngx-slider [options]="sliderOptions" [value]="100" (valueChange)="onOpacitySliderChange($event)">
            </ngx-slider>
        </div>
    </div>
    <div class="tool_item">
        <div class="tool_label">
            Brush Size
        </div>
        <div class="tool_control custom-slider">
            <ngx-slider [options]="sliderOptions" [value]="48" (valueChange)="onBrushSizeSliderChange($event)">
            </ngx-slider>
        </div>
    </div>
    <ng-container *ngIf="((state.annotation.masks$ | async)?.length || 0) > 1">
        <div *ngIf="(state.annotation.selectedMask$ | async) as selectedMask">Merge {{selectedMask.name ?
            selectedMask.name
            : 'Mask' + selectedMask.id}}
            with <select #mergeMasksSelect>
                <ng-container *ngFor="let mask of state.annotation.masks$ | async">
                    <option *ngIf="mask.id !== selectedMask.id" label="{{mask.name ? mask.name : 'Mask' + mask.id}}">
                        {{mask.id}}</option>
                </ng-container>
            </select>
            <button (click)="mergeMasksButtonClicked(selectedMask.id, mergeMasksSelect.value)">OK</button>
        </div>
    </ng-container>
</div>