<div>
    <div id="tool_section_header">
        Annotation
    </div>
    <div *ngIf="(state.annotation.selectedMask$ | async)">
        Editing Mask: Mask {{ (state.annotation.selectedMask$ | async)?.id }}
    </div>
    <div *ngIf="(state.annotation.selectedMask$ | async) === null">
        Editing Mask: Please select a mask to edit
    </div>
    <div id="tools">
        Tool:
        <div>
            <div *ngFor="let toolType of toolTypes" (click)="setToolType(toolType.type)"
                [class.selected]="toolType.type === (state.annotation.tool$ | async)!.type">
                <img [src]="toolType.icon" width="24px">
            </div>
        </div>

    </div>
    <div id="tool_modes">
        Mode:
        <div>
            <div *ngFor="let toolMode of toolModes" (click)="setToolMode(toolMode.type)"
                [class.selected]="toolMode.type === (state.annotation.tool$ | async)!.mode">
                <img [src]="toolMode.icon" width="24px">
            </div>
        </div>

    </div>
    <div class="tool_item">
        <div class="tool_label">
            Mask Opacity
        </div>
        <div class="tool_control custom-slider">
            <ngx-slider [options]="sliderOptions" [value]="100" (valueChange)="onOpacitySliderChange($event)">
            </ngx-slider>
        </div>
    </div>
    <div class="tool_item">
        <div class="tool_label">
            Brush Size
        </div>
        <div class="tool_control custom-slider">
            <ngx-slider [options]="sliderOptions" [value]="48" (valueChange)="onBrushSizeSliderChange($event)">
            </ngx-slider>
        </div>
    </div>
    <div *ngIf="(state.annotation.selectedMask$ | async) as selectedMask">Merge Mask {{ (state.annotation.selectedMask$
        | async)?.id }}
        with <select #mergeMasksSelect>
            <ng-container *ngFor="let mask of state.annotation.masks$ | async">
                <option *ngIf="mask.id !== selectedMask.id" label="Mask {{mask.id}}">
                    {{mask.id}}</option>
            </ng-container>
        </select>
        <button (click)="mergeMasksButtonClicked(selectedMask.id, mergeMasksSelect.value)">OK</button>
    </div>
</div>