#view_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.icon_container {
    height: 25px;
    width: 25px;
    cursor: pointer;

    & svg {
        height: 100%;
        fill: black;
        stroke-width: 2px;
    }
}

#notes {
    --spacing: 1.5rem;
    --radius: 10px;
    padding-left: 0;

    li {
        display: flex;
        position: relative;
        padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
        align-items: center;
    }

    >li:first-child {
        padding-left: 0;
    }

    ul {
        margin-left: calc(var(--radius) - var(--spacing));
        padding-left: 0;
    }
}

#header_bar {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    padding: 8px;

    button {
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #finishShapeConfirm {
        display: none;
        width: 80px;

        &.show {
            display: flex;
        }
    }

    .row {
        height: auto;
        display: flex;
        flex-direction: row;
        margin-bottom: 4px;
        align-items: baseline;

        >* {
            display: flex;
            // align-items: baseline;
            margin-right: 8px;
        }
    }
}

#editor_container {
    border: black solid 1px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    overflow: auto;
    height: auto;

    #editor_canvas_container {
        flex: 0 0 50%;
        width: 50%;
        min-width: 500px;

        position: relative;

        #image_preview {
            position: relative;
            top: 0;
            left: 0;
            max-width: 800px;
            max-height: 600px;
            width: auto;
            height: auto;
        }

        #canvas_background {
            position: absolute;
            // background-color: transparent;
            top: 0;
            left: 0;
            transform: scale(0.5);
            transform-origin: 0 0;
            // max-width: 800px;
            // max-height: 600px;
            // width: auto;
            // height: auto;
        }

        app-canvas {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

#ref_im {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    z-index: 10;
}